<div class="col s12">
  <h2 class="header">About me</h2>
  <div class="card horizontal">
    <div class="card-image">
      <img src="https://avatars2.githubusercontent.com/u/19365313?s=460&v=4">
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <p>
          Hello my name is Wendell Alves and I created this simple project to practice
          and use the main functionalities of Angular. I hope you enjoy this blog. Let's code
          with passion ;).
        </p>

        <p>My interests in programming in general are:</p>
        <ul class="collection">
          <li class="collection-item">JavaScript</li>
          <li class="collection-item">Java</li>
          <li class="collection-item">HTML</li>
          <li class="collection-item">CSS</li>
          <li class="collection-item">SQL</li>
        </ul>

        <p>
          If you liked this simple project, please, follow me on Github:
        </p>

      </div>
      <div class="card-action">
        <a href="https://github.com/wen-dell" target="_blank">My Github profile</a>
      </div>
    </div>
  </div>
</div>

