<div class="post-container" *ngFor="let post of posts">
  <h5 class="post-title" [routerLink]="['/post',  post.id]">{{ post.title }}</h5>
  Tags:  
  <div class="chip" *ngFor="let tag of post.tags">
    {{ tag }}
  </div>
  <p>
    <small>Posted on {{ post.datePost | date }}</small>
  </p>
  <img class="post-image" [routerLink]="['/post',  post.id]" src="{{post.image}}">
  <p>Author: {{ post.author }}</p>
  <div class="post-message">
    <p>
      {{ post.message | slice:0:100 }}
      <a [routerLink]="['/post',  post.id]">Read more...</a>
    </p>
    <p>{{ post.comments.length | plural:"comment" }}<i class="material-icons comment">comment</i></p>
  </div>
</div>
