<div class="post-container">
  <h5>Title</h5>
  Tags:  
  <div class="chip">
    Jane Doe
  </div>
  <p>
    <small>Posted on 25/03/1997</small>
  </p>
  <p>Author: Wendell Alves</p>
  <div class="post-message">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
      irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      <a>Read more...</a>
    </p>
    <p>0 comments <i class="material-icons">comment</i></p>
  </div>
</div>
